<div class="flex flex-col w-full">

    <!--  Add -->
    <ng-container>

        <!-- Header -->
        <div class="relative w-full h-40 sm:h-48 px-8 sm:px-12 bg-accent-100 bg-gray-800 dark:border-l">
            <!-- Background -->
            <ng-container>
                <!-- Background - @formatter:off -->
                <!-- Rings -->
                <svg class="absolute inset-0 pointer-events-none"
                     viewBox="0 0 960 540" width="100%" height="100%" preserveAspectRatio="xMidYMax slice" xmlns="http://www.w3.org/2000/svg">
                    <g class="text-gray-700 opacity-25" fill="none" stroke="currentColor" stroke-width="100">
                        <circle r="234" cx="196" cy="23"></circle>
                        <circle r="234" cx="790" cy="491"></circle>
                    </g>
                </svg>
                <!-- Dots -->
                <svg class="absolute top-0 right-0 text-gray-700"
                     viewBox="0 0 220 192" width="220" height="192" fill="none">
                    <defs>
                        <pattern id="837c3e70-6c3a-44e6-8854-cc48c737b659" x="0" y="0" width="20" height="20" patternUnits="userSpaceOnUse">
                            <rect x="0" y="0" width="4" height="4" fill="currentColor"></rect>
                        </pattern>
                    </defs>
                    <rect width="220" height="192" fill="url(#837c3e70-6c3a-44e6-8854-cc48c737b659)"></rect>
                </svg>
            </ng-container>
            <!-- Close button -->
            <div class="flex items-center justify-end w-full max-w-3xl mx-auto pt-6">
                <button
                    mat-icon-button
                    [matTooltip]="'Fermer'"
                    (click)="closeUser()"
                    [routerLink]="['/admin/users/list']">
                    <mat-icon
                        class="text-white"
                        [svgIcon]="'heroicons_outline:x'"></mat-icon>
                </button>
            </div>
        </div>

        <!-- user form -->
        <div class="relative flex flex-col flex-auto items-center px-6 sm:px-12">
            <div class="w-full max-w-3xl">
                <form [formGroup]="userForm">

                    <!-- Avatar -->
                    <div class="flex flex-auto items-end -mt-16">
                        <div class="relative flex items-center justify-center w-32 h-32 rounded-full overflow-hidden ring-4 ring-bg-card">
                            <div class="absolute inset-0 bg-black bg-opacity-50 z-10"></div>
                            <!-- Image/Letter -->
                            <div
                                class="flex items-center justify-center w-full h-full rounded overflow-hidden uppercase text-8xl font-bold leading-none bg-gray-200 text-gray-600 dark:bg-gray-700 dark:text-gray-200"
                                >
                                N
                            </div>
                        </div>
                    </div>

                    <!-- UserName -->
                    <div class="mt-8">
                        <mat-form-field class="fuse-mat-no-subscript w-full">
                            <mat-label>Nom d'utilisateur</mat-label>
                            <mat-icon
                                matPrefix
                                class="hidden sm:flex icon-size-5"
                                [svgIcon]="'heroicons_solid:user-circle'"></mat-icon>
                            <input (keyup)="restoreForm($event)"
                                   matInput
                                   [formControlName]="'username'"
                                   [placeholder]="'Nom utilisateur'"
                                   [spellcheck]="false">

                        </mat-form-field>
                        <mat-error *ngIf="userForm.get('username').getError('incorrect')" class="mt-2 ml-6 text-sm ">
                            Nom d'utilisateur déjà utilisé
                        </mat-error>
                    </div>

                    <!-- Email -->
                    <div class="mt-8">
                        <mat-form-field class="fuse-mat-no-subscript w-full">
                            <mat-label>Email</mat-label>
                            <mat-icon
                                matPrefix
                                class="hidden sm:flex icon-size-5"
                                [svgIcon]="'heroicons_solid:mail'"></mat-icon>
                            <input (keyup)="restoreForm($event)"
                                   matInput
                                   [formControlName]="'email'"
                                   [placeholder]="'Email'"
                                   [spellcheck]="false">
                        </mat-form-field>
                        <mat-error *ngIf="userForm.get('email').getError('incorrect')" class="mt-2 ml-6 text-sm ">
                            Adresse email déjà utilisée
                        </mat-error>
                    </div>

                    <!-- Firstname -->
                    <div class="mt-8">
                        <mat-form-field class="fuse-mat-no-subscript w-full">
                            <mat-label>Prénom</mat-label>
                            <mat-icon
                                matPrefix
                                class="hidden sm:flex icon-size-5"
                                [svgIcon]="'heroicons_solid:user-circle'"></mat-icon>
                            <input (keyup)="restoreForm($event)"
                                   matInput
                                   [formControlName]="'firstname'"
                                   [placeholder]="'Prénom'"
                                   [spellcheck]="false">

                        </mat-form-field>
                        <mat-error *ngIf="userForm.get('firstname').getError('incorrect')" class="mt-2 ml-6 text-sm ">
                            Prénom incorrect
                        </mat-error>
                    </div>

                    <!-- Lastname -->
                    <div class="mt-8">
                        <mat-form-field class="fuse-mat-no-subscript w-full">
                            <mat-label>Nom</mat-label>
                            <mat-icon
                                matPrefix
                                class="hidden sm:flex icon-size-5"
                                [svgIcon]="'heroicons_solid:user-circle'"></mat-icon>
                            <input (keyup)="restoreForm($event)"
                                   matInput
                                   [formControlName]="'lastname'"
                                   [placeholder]="'Nom'"
                                   [spellcheck]="false">

                        </mat-form-field>
                        <mat-error *ngIf="userForm.get('lastname').getError('incorrect')" class="mt-2 ml-6 text-sm ">
                            Nom incorrect
                        </mat-error>
                    </div>

                    <div class="flex mt-8">
                        <!-- Admin -->
                        <span class="font-semibold mb-2">Administrateur</span>
                        <mat-slide-toggle class="w-2/3 pl-6"
                                          [formControlName]="'admin'"
                                          [color]="'primary'" name="admin">
                            {{ userForm.get('admin').value === true ? 'Oui' : 'Non' }}
                        </mat-slide-toggle>
                    </div>

                    <div class="flex items-center mt-10 -mx-6 sm:-mx-12 py-4 pr-4 pl-1 sm:pr-12 sm:pl-7 border-t bg-gray-50 dark:bg-transparent">
                        <!-- Cancel -->
                        <button
                            class="ml-auto"
                            mat-button
                            [matTooltip]="'Annuler'"
                            (click)="closeUser()">
                            Annuler
                        </button>
                        <!-- Save -->
                        <button
                            class="ml-2"
                            mat-flat-button
                            [color]="'primary'"
                            [disabled]="userForm.invalid"
                            [matTooltip]="'Ajouter'"
                            (click)="createUser()">
                            {{ 'Ajouter' }}
                        </button>
                    </div>


                </form>
            </div>
        </div>
    </ng-container>
</div>
