
<div class="flex flex-col flex-auto min-w-0">
    <!-- Header -->
    <div class="fixed w-full z-999 flex flex-col shadow bg-white dark:bg-accent-800 dark:border">

        <!-- Cover image -->
        <div>
            <img
                class="h-40 lg:h-40 object-cover"
                src="../../../assets/images/cover.jpg"
                alt="Cover image">

            <!-- Actions -->
            <div class="fixed z-49 flex items-center pl-2 ml-auto space-x-0.5 sm:space-x-2 bg-white dark:bg-accent-800 dark:border-gray-50 pl-2 pr-2"
                style="right: 15px; top: 15px;border-radius: 1rem;">
                <fuse-fullscreen></fuse-fullscreen>
                <settings></settings>
                <user matTooltip="Profil"></user>
            </div>
        </div>

        <!-- User info -->
        <div class="flex flex-col flex-0 lg:flex-row items-center max-w-5xl w-full mx-auto lg:h-18">

            <!-- Avatar -->
            <div class="-mt-26 lg:-mt-22 rounded-full">
                <div class="flex items-center justify-center w-32 h-32 rounded-full overflow-hidden ring-4 ring-bg-card">
                    <div
                        class="flex items-center justify-center w-full h-full rounded overflow-hidden uppercase text-8xl font-bold leading-none bg-gray-200 text-gray-600 dark:bg-gray-700 dark:text-gray-200"
                        *ngIf="user?.username">
                        {{ user?.username?.charAt(0) }}
                    </div>
                </div>
            </div>

            <!-- Details -->
            <div class="flex flex-col items-center lg:items-start mt-4 lg:mt-0 lg:ml-2">
                 <div class="text-lg font-bold leading-none">{{ user?.username ? user?.username.charAt(0).toUpperCase() + user?.username.substr(1).toLowerCase() : '' }}</div>
            </div>

            <!-- Separator -->
            <div class="hidden lg:flex h-8 mx-8 border-l-2"></div>

            <!-- Stats Quizz created -->
            <div class="flex items-center mt-2 lg:mt-0 space-x-6">
                <div class="flex flex-col items-center">
                    <span class="font-bold">200k</span>
                    <span class="text-sm font-medium text-secondary">Quizzs crées</span>
                </div>
                <div class="flex flex-col items-center">
                    <span class="font-bold">1.2k</span>
                    <span class="text-sm font-medium text-secondary">Quizzs réalisés</span>
                </div>
            </div>

            <!-- Menu -->
            <div class="flex items-center mt-6 pt-2 mb-4 lg:m-0 lg:ml-auto space-x-6 lg:border-t-0 sm:border-t">

                <button
                    (click)="getAll();"
                    class="px-3 mr-1 -ml-2 sm:ml-0"
                    mat-button>
                    <span  *ngIf="selectedQuizzMode === 'all'" class="flex sm:items-center font-medium cursor-pointer">
                        <mat-icon
                            class="icon-size-5 mr-3 leading-6 text-primary"
                            [svgIcon]="'heroicons_solid:arrow-narrow-up'"></mat-icon>
                        Derniers
                    </span>
                    <span  *ngIf="selectedQuizzMode !== 'all'" class="flex sm:items-center text-secondary cursor-pointer">
                        <mat-icon
                            class="icon-size-5 mr-3 leading-6"
                            [svgIcon]="'heroicons_solid:arrow-narrow-up'"></mat-icon>
                        Derniers
                    </span>
                </button>
                <button
                    (click)="getOldest();"
                    class="px-3 mr-1 -ml-2 sm:ml-0"
                    mat-button>
                    <span  *ngIf="selectedQuizzMode === 'oldest'" class="flex sm:items-center font-medium cursor-pointer">
                        <mat-icon
                            class="icon-size-5 mr-3 leading-6 text-primary"
                            [svgIcon]="'heroicons_solid:arrow-narrow-down'"></mat-icon>
                        Les plus vieux
                    </span>
                    <span  *ngIf="selectedQuizzMode !== 'oldest'" class="flex sm:items-center text-secondary cursor-pointer">
                        <mat-icon
                            class="icon-size-5 mr-3 leading-6"
                            [svgIcon]="'heroicons_solid:arrow-narrow-down'"></mat-icon>
                        Les plus vieux
                    </span>
                </button>
                <button
                    (click)="getAllRealised();"
                    class="px-3 mr-1 -ml-2 sm:ml-0"
                    mat-button>
                    <span *ngIf="selectedQuizzMode === 'realised'" class="flex sm:items-center font-medium cursor-pointer">
                        <mat-icon
                            class="icon-size-5 mr-3 leading-6 text-primary"
                            [svgIcon]="'iconsmind:trophy'"></mat-icon>
                        Réalisés
                    </span>
                    <span *ngIf="selectedQuizzMode !== 'realised'" class="flex sm:items-center text-secondary cursor-pointer">
                        <mat-icon
                            class="icon-size-5 mr-3 leading-6"
                            [svgIcon]="'iconsmind:trophy'"></mat-icon>
                        Réalisés
                    </span>
                </button>
                <button
                    (click)="getAllByLikeDesc();"
                    class="px-3 mr-1 -ml-2 sm:ml-0"
                    mat-button>
                    <span *ngIf="selectedQuizzMode === 'bestLike'" class="flex sm:items-center font-medium cursor-pointer">
                        <mat-icon
                            class="icon-size-5 mr-3 leading-6 text-primary"
                            [svgIcon]="'heroicons_solid:thumb-up'"></mat-icon>
                        Les plus Like
                    </span>
                    <span *ngIf="selectedQuizzMode !== 'bestLike'" class="flex sm:items-center text-secondary cursor-pointer">
                        <mat-icon
                            class="icon-size-5 mr-3 leading-6"
                            [svgIcon]="'heroicons_solid:thumb-up'"></mat-icon>
                        Les plus Like
                    </span>
                </button>
            </div>

        </div>

    </div>

    <div class="h-80 lg:h-52"></div>

    <!-- Main Content -->

    <div *ngIf="gameMode === false; else displayQuizzList;" class="flex flex-auto justify-center w-full max-w-10xl mx-auto p-6 sm:p-8 " >

        <!-- Column Profile -->
        <div class="hidden sm:block md:block lg:block lg:flex flex-col items-start mr-8">

            <!-- Profile -->
            <div *ngIf="user">
                <fuse-card class="flex flex-col max-w-80 w-full mt-6 p-8 shadow rounded-2xl bg-white dark:bg-opacity-5 dark:border"
                       #expandableCard02="fuseCard">
                <div class="text-2xl font-semibold leading-tight">Profile</div>

                <!-- User description -->
                <div [innerHTML]="user && user.description ? user.description : ''  " class="mt-4"></div>

                <hr class="w-full border-t my-6">

                <div class="flex flex-col">

                    <!-- User firstname -->
                    <div class="flex items-center">
                        <mat-icon
                            class="icon-size-5 mr-3"
                            [svgIcon]="'heroicons_outline:user'"></mat-icon>
                        <span class="leading-none">{{ user && user.firstname ? user.firstname : '' }}</span>
                    </div>
                    <!-- User lastname -->
                    <div class="flex items-center mt-4">
                        <mat-icon
                            class="icon-size-5 mr-3"
                            [svgIcon]="'heroicons_outline:user'"></mat-icon>
                        <span class="leading-none">{{ user && user.lastname ? user.lastname : '' }}</span>
                    </div>
                    <!-- User creationDate -->
                    <div class="flex items-center mt-4">
                        <mat-icon
                            class="icon-size-5 mr-3"
                            [svgIcon]="'heroicons_outline:calendar'"></mat-icon>
                        <span class="leading-none">{{ user && user.creationDate | date: 'dd/MM/yyyy' }}</span>
                    </div>
                </div>
                <button
                    class="px-6 mt-8"
                    mat-flat-button
                    [color]="'primary'"
                    [routerLink]="['./']">
                    Voir le profile
                </button>
            </fuse-card>
            </div>

        </div>

        <!-- Column Quizzs List -->
        <div  class="flex flex-col items-start">

            <!-- Filters -->
            <div class="flex flex-col sm:flex-row items-center justify-between w-full max-w-xs sm:max-w-none mt-7">

                <!-- Filters Theme -->
                <mat-form-field class="fuse-mat-no-subscript w-full sm:w-36">
                    <mat-select
                        [value]="'all'"
                        (selectionChange)="filterByTheme($event)">
                        <mat-option [value]="'all'">Tous</mat-option>
                        <ng-container *ngFor="let theme of themes; trackBy: trackByFn">
                            <mat-option [value]="theme.slug">{{ theme.name }}</mat-option>
                        </ng-container>
                    </mat-select>
                </mat-form-field>

                <!-- Search input quizz by name -->
                <mat-form-field
                    class="fuse-mat-no-subscript w-full sm:w-72 mt-4 sm:mt-0 sm:ml-4"
                    [floatLabel]="'always'">
                    <mat-icon
                        matPrefix
                        class="icon-size-5"
                        [svgIcon]="'heroicons_solid:search'"></mat-icon>
                    <input
                        (input)="filterByQuery(query.value)"
                        placeholder="Rechercher par nom"
                        matInput
                        #query>
                </mat-form-field>

                <!-- Show/hide quizz if history/realised -->
                <mat-slide-toggle
                    class="mt-8 sm:mt-0 sm:ml-auto"
                    [color]="'primary'"
                    (change)="toggleCompleted($event)">
                    Cacher les réalisés
                </mat-slide-toggle>
            </div>

            <!-- Quizzs list -->
            <div  *ngFor="let quizz of quizzs;">

                <fuse-card class="flex flex-col max-w-200 w-full mt-8 shadow rounded-2xl bg-white dark:bg-opacity-5 dark:border quizz-card-size" #expandableCard02="fuseCard">
                    <div class="flex items-center mx-6 sm:mx-8 mt-4 mb-1 border-b pb-4">
                        <div class="flex flex-col">
                            <div class="flex">

                                <!-- Nb of questions -->
                                <div class="rounded-full">
                                    <div class="flex items-center justify-center w-12 h-12 rounded-full overflow-hidden ring-4 ring-bg-card">
                                        <div
                                            class="flex items-center justify-center w-full h-full rounded overflow-hidden uppercase text-2xl font-bold leading-none bg-gray-200 text-gray-600 dark:bg-gray-700 dark:text-gray-200"
                                            *ngIf="quizz.questions">
                                            {{ quizz?.questions.length }}
                                        </div>
                                    </div>
                                </div>
                                <span class="text-sm text-secondary leading-none mt-4 ml-2">
                                    questions
                                </span>
                                <div class="text-right absolute right" style="right: 30px;">
                                    <!-- Theme -->
                                    <div
                                        class="py-0.5 px-3 rounded-full text-sm font-semibold flex mb-1"
                                        style="max-height: 30px;"
                                        [ngClass]="{
                                        'text-blue-800 bg-blue-100 dark:text-blue-50 dark:bg-blue-500': quizz?.theme?.name === 'Géographie',
                                        'text-green-800 bg-green-100 dark:text-green-50 dark:bg-green-500': quizz?.theme?.name === 'Culture Générale',
                                        'text-pink-800 bg-pink-100 dark:text-pink-50 dark:bg-pink-500': quizz?.theme?.name === 'France',
                                        'text-amber-800 bg-amber-100 dark:text-amber-50 dark:bg-amber-500': quizz?.theme?.name === 'Histoire',
                                        'text-zinc-800 bg-zinc-100 dark:text-zinc-50 dark:bg-zinc-500': quizz?.theme?.name === 'Divers',
                                        'text-lime-800 bg-lime-100 dark:text-lime-50 dark:bg-lime-500': quizz?.theme?.name === 'Vocabulaire',
                                        'text-violet-800 bg-violet-100 dark:text-violet-50 dark:bg-violet-500': quizz?.theme?.name === 'Politique',
                                        'text-rose-800 bg-rose-100 dark:text-rose-50 dark:bg-rose-500': quizz?.theme?.name === 'Sciences',
                                        'text-yellow-800 bg-yellow-100 dark:text-yellow-50 dark:bg-yellow-500': quizz?.theme?.name === 'Marques & logo',
                                        'text-orange-800 bg-orange-100 dark:text-orange-50 dark:bg-orange-500': quizz?.theme?.name === 'Actualité'
                                        }">
                                        <mat-icon class="icon-size-4 pt-2" svgIcon="heroicons_solid:tag"></mat-icon>
                                        <div class="ml-2 font-medium leading-6">{{ quizz?.theme?.name }}</div>
                                    </div>

                                    <!-- Creation date -->
                                    <span *ngIf="quizz && quizz.creationDate" class="text-sm text-secondary leading-none mt-2 pr-1">
                                        {{ quizz.creationDate | date: 'dd/MM/yyyy' }}
                                    </span>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="m-6 sm:mx-8">
                        <ng-container *ngIf="quizz.name">
                            <div class="w-full text-center">
                                <div class="ml-4 text-2xl font-medium leading-6">{{ quizz && quizz.name ? quizz.name : '' }}</div>
                            </div>
                        </ng-container>

                        <p class="mt-6 mb-2" style="white-space: pre-wrap;">
                            {{ quizz && quizz.description ? quizz.description : '' }}
                        </p>
                    </div>
                    <div class="flex items-center mx-3 sm:mx-5">
                        <button *ngIf="quizz && quizz.like === true"
                                (click)="unlike(quizz)"
                                class="px-3 mr-1"
                                mat-button
                                [routerLink]="['./']">
                            <mat-icon
                                class="icon-size-5 text-red-500 mr-2"
                                [svgIcon]="'heroicons_solid:heart'"></mat-icon>
                            <span>Je n'aime plus</span>
                        </button>
                        <button *ngIf="quizz && quizz.like === false"
                                (click)="like(quizz)"
                                class="px-3 mr-1"
                                mat-button
                                [routerLink]="['./']">
                            <mat-icon
                                class="icon-size-5 mr-2"
                                [svgIcon]="'heroicons_solid:heart'"></mat-icon>
                            <span>J'aime</span>
                        </button>
                        <button
                            (click)="expandableCard02.expanded = !expandableCard02.expanded ; switchSelectedQuizz(quizz)"
                            class="px-3 mr-1"
                            mat-button
                            [routerLink]="['./']">
                            <mat-icon
                                class="icon-size-5 mr-2"
                                [svgIcon]="'heroicons_solid:chat-alt'"></mat-icon>
                            <span>Commenter</span>
                        </button>

                        <div class="flex lg:mt-0 sm:mt-3 items-center ml-auto absolute" style="right: 25px;">
                            <button
                                (click)="playQuizzGame(quizz)"
                                class="mb-2"
                                mat-flat-button
                                [color]="'primary'">
                                <mat-icon
                                    class="icon-size-5 mr-2"
                                    [svgIcon]="'heroicons_solid:play'"></mat-icon>
                                Jouer
                            </button>
                        </div>


                        <button *ngIf="quizz && quizz.realise === true"
                                (click)="unrealisedQuizz(quizz)"
                                class="px-3 mr-1"
                                mat-button
                                [routerLink]="['./']">
                            <mat-icon
                                class="icon-size-5 text-primary mr-2"
                                [svgIcon]="'iconsmind:trophy_2'"></mat-icon>
                            <span>Réalisé</span>
                        </button>
                        <button *ngIf="quizz && quizz.realise === false"
                                (click)="realisedQuizz(quizz)"
                                class="px-3 mr-1"
                                mat-button
                                [routerLink]="['./']">
                            <mat-icon
                                class="icon-size-5 mr-2"
                                [svgIcon]="'heroicons_solid:x'"></mat-icon>
                            <span>Pas encore réalisé</span>
                        </button>


                    </div>
                    <hr class="border-b mx-6 sm:mx-8 mt-4 mb-6">
                    <div class="flex flex-col sm:flex-row sm:items-center mx-6 sm:mx-8 mb-4 sm:mb-6">
                        <div class="flex items-center">
                            <img
                                class="w-6 h-6 m-0.5 rounded-full text-card ring-2 ring-white"
                                src="../../../assets/images/avatars/female-02.jpg"
                                alt="Card cover image">
                            <img
                                class="w-6 h-6 m-0.5 rounded-full -ml-3 text-card ring-2 ring-white"
                                src="../../../assets/images/avatars/female-04.jpg"
                                alt="Card cover image">
                            <img
                                class="w-6 h-6 m-0.5 rounded-full -ml-3 text-card ring-2 ring-white"
                                src="../../../assets/images/avatars/male-09.jpg"
                                alt="Card cover image">
                            <img
                                class="w-6 h-6 m-0.5 rounded-full -ml-3 text-card ring-2 ring-white"
                                src="../../../assets/images/avatars/male-07.jpg"
                                alt="Card cover image">
                            <div class="text-md tracking-tight ml-3">
                                <span class="font-medium">
                                    {{ quizz && quizz.like ? quizz.like :'0 ' }}
                                </span>
                                personnes ont aimé ce quizz
                            </div>
                        </div>
                        <div class="hidden sm:flex flex-auto"></div>
                        <div class="flex items-center mt-4 sm:mt-0">
                            <button
                                class="px-3 mr-1 -ml-2 sm:ml-0"
                                mat-button>
                                <span class="font-medium mr-1">
                                    {{ quizz && quizz.nbRealise ? quizz.nbRealise : '0 ' }}
                                </span>
                                fois réalisé
                            </button>

                            <button *ngIf="quizz && quizz.comments && quizz.comments.length !== 0; else NoCommentsBlock"
                                class="px-3 sm:-mr-4"
                                mat-button
                                (click)="expandableCard02.expanded = !expandableCard02.expanded ; switchSelectedQuizz(quizz)">
                                <span>{{ quizz.comments.length }} </span>
                                <span class="ml-1"> Commentaires</span>
                                <mat-icon
                                    class="icon-size-5 transition-transform ease-in-out duration-150 rotate-0"
                                    [ngClass]="{'rotate-180': expandableCard02.expanded}"
                                    [svgIcon]="'heroicons_solid:chevron-down'"></mat-icon>
                            </button>
                            <ng-template #NoCommentsBlock>
                                <button
                                        class="px-3 sm:-mr-3"
                                        mat-button>
                                    Pas de commentaires
                                </button>
                            </ng-template>
                        </div>
                    </div>

                    <!-- Comment Form -->
                    <ng-container fuseCardExpansion>
                        <hr class="border-b m-0">
                        <div class="flex flex-col mx-4 sm:mx-8 mt-6 mb-3">
                            <div class="flex items-start">
                                <div class="w-12 min-w-12 h-12 rounded-full mr-4">
                                    <div
                                        class="flex items-center justify-center w-full h-full rounded-full text-2xl overflow-hidden uppercase font-bold leading-none bg-gray-200 text-gray-600 dark:bg-gray-700 dark:text-gray-200"
                                        *ngIf="user?.username">
                                        {{ user?.username.charAt(0) }}
                                    </div>
                                </div>
                                <form [formGroup]="commentForm" #commentNgForm="ngForm" class="w-full">
                                    <!-- Alert -->
                                    <fuse-alert
                                        class="mb-4"
                                        *ngIf="showAlertComment"
                                        [appearance]="'soft'"
                                        [showIcon]="true"
                                        [dismissible]="true"
                                        [dismissed]="false"
                                        [type]="alertComment.type">
                                        {{ alertComment.message }}
                                    </fuse-alert>
                                    <mat-form-field class="fuse-mat-textarea fuse-mat-no-subscript w-full">
                                        <textarea
                                            matInput  [formControlName]="'text'"
                                            [placeholder]="'Ecrivez un commentaire...'"
                                            [rows]="3"
                                            matTextareaAutosize></textarea>
                                        <mat-error *ngIf="commentForm.get('text').hasError('required')">
                                            Description requise.
                                        </mat-error>
                                        <mat-error *ngIf="commentForm.get('text').hasError('minlength')">
                                            Minimum 4 caratères.
                                        </mat-error>
                                        <mat-error *ngIf="commentForm.get('text').hasError('maxlength')">
                                            Maximum 139 caratères.
                                        </mat-error>
                                    </mat-form-field>
                                </form>
                            </div>
                            <div class="flex items-center mt-3 ml-auto -mr-3">
                                <button
                                    class="mt-4 mb-2"
                                    mat-flat-button
                                    [color]="'primary'"
                                    (click)="createComment()">
                                    <mat-icon
                                        class="icon-size-5 mr-2"
                                        [svgIcon]="'heroicons_solid:check'"></mat-icon>
                                    Envoyer le commentaire
                                </button>
                            </div>
                        </div>
                        <hr class="border-b mx-4 sm:mx-8 my-0">

                        <!-- Comments -->
                        <div class="max-h-120 overflow-y-auto">
                            <div class="relative flex flex-col mx-4 sm:mx-8 my-6">

                                <div  *ngFor="let comment of quizz.comments;" class="flex items-start mt-8 ml-12">
                                    <div class="w-8 h-8 rounded-full mr-4">
                                        <div
                                            class="flex items-center justify-center w-full h-full rounded-full overflow-hidden uppercase font-bold leading-none bg-gray-200 text-gray-600 dark:bg-gray-700 dark:text-gray-200"
                                            *ngIf="comment && comment.user && comment.user.username">
                                            {{ comment.user.username.charAt(0) }}
                                        </div>
                                    </div>
                                    <div class="flex flex-col mt-0.5">
                                        <span>
                                            <b>{{ comment && comment.user && comment.user.username ? comment.user.username : ''  }}</b>
                                            {{ comment && comment.text ? comment.text : ''  }}
                                        </span>
                                        <div class="flex items-center text-sm text-secondary mt-2">
                                            <span class="mr-2">&bull;</span>
                                            <span *ngIf="comment && comment.creationDate">{{ comment.creationDate | date: 'dd/MM/yyyy' }}</span>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </ng-container>

                </fuse-card>

            </div>
        </div>

    </div>

    <ng-template #displayQuizzList  class="flex flex-auto justify-center w-full max-w-10xl mx-auto p-6 sm:p-8 ">
        <app-quizz [quizz]="selectedQuizz" [user]="user" (gameMode)=onBackFromQuizzGame($event)></app-quizz>
    </ng-template>
</div>
